<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89996564819-p3ao0k4br4ma8h6qk8gg3s3nmeioh4tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89996564819-p3ao0k4br4ma8h6qk8gg3s3nmeioh4tc</string>
	<key>API_KEY</key>
	<string>AIzaSyAVkdeIvveFKYzn1VK8Xj1rWzh6lOWmgHA</string>
	<key>GCM_SENDER_ID</key>
	<string>89996564819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MovieDBApp</string>
	<key>PROJECT_ID</key>
	<string>moviedb-2908d</string>
	<key>STORAGE_BUCKET</key>
	<string>moviedb-2908d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89996564819:ios:f10ce06114bed63a3ea9a6</string>
</dict>
</plist>